html{
  margin:0px;
  padding:0px;
  font-family:'open sans';
}


body{
  color:#212121;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.homepage{
  width:100%;
  height:100%;
   background: url(http://erinprz.com/images/erin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}

header{
  width:500px;
  margin:auto;
  margin-top:100px;
}

.navigation{
  font-family:"josefin sans";
  font-size:30px;
  margin-top:50px;
}