@media (max-width: 1024px) {

header{
    width:90%;
}

header img{
    width:100%;
}

.homenavigation{
    position:absolute;
    bottom:30px;
}

.pageheader{
    width:100%;
}

.imagegallery{
    width:100%;

}

.imagegallery img{
    object-fit: initial;
    width: 90%;
    height:initial;
    display: block;
    margin:auto;
}

}
