@media (max-width: 1024px) {

header{
    width:90%;
}

header img{
    width:100%;
}

.homenavigation{
    position:absolute;
    bottom:30px;
}

pageheader{
    width:100%;
}

.pagenavigation{
    float:initial;
    text-align:center;
    font-size:12px;
}

.pagenavigation a{
    padding-left:0px;
}

.imagegallery{
    width:100%;

}

.imagegallery img{
    object-fit: initial;
    width: 90%;
    height:initial;
    display: block;
    margin:auto;
}

}
