---
---

{% include head.html %}

<div class="wrapper">

    <div class="container">

    {% include header.html %}

    <div class="homepagebox">
        
        <div class="homepagesplash">
            Yes! <span class="greenunderline">and<span class="opensans">...</span></span>
        </div>

        <div class="homepagesub">A boutique consulting practice helping companies define and build digital marketing capabilities.</div>

        <hr>

        <div class="threebox">
            <h2>Strategy Workshops</h2>
            <p>Today's digital landscape moves fast and breaks things. How do you create a nimble strategy to keep up? We craft in-person strategy workshops to dive into the most pressing issues your business is facing and craft a tangible roadmap.</p>
        </div>

        <div class="threebox">
            <h2>Content Marketing</h2>
            <p>The nature of attention is changing online. How do you attract and engage an audience? How do you scale content production without losing editorial vision? Talk to us about audience development, content marketing & SEO.</p>
        </div>

        <div class="threebox">
            <h2>Building Teams</h2>
            <p>What does the modern marketing team look like? Where do you find marketing talent? Building teams is hard work, especially for startups, and we have experience hiring, training and leading high performance teams.</p>
        </div>
        
        <hr>

        <h2>Clients</h2>

        <img class="clients" src="/images/clients/nyt.png" />
        <img class="clients clientscomplex" src="/images/clients/complex.png" />
        <img class="clients" src="/images/clients/olapic.png" />
        <img class="clients" src="/images/clients/gucci.png" />
        <img class="clients" src="/images/clients/hipmunk.png" />
        
        

        <hr>

        <div class="quotebox">
            Consulting is about taking ownership and getting close to the problem and close to the people
        </div>

        <hr>

        <div class="tombox">
            <img src="/images/tomsmall.jpg" />
            <h2>Who's running this thing anyway?</h2>
            <p>Well I'm glad you asked.
                <br><span class="brandsmall">Yes! and...</span> is run by Tom Critchlow.
                <br>&#60;&#60;That's me over there.
                <br><a href="/about">Learn more</a>.</p>
        </div>

        <hr>


         <div class="quotebox">
            Communication solves all problems.
        </div>


        <hr>

        <div class="contactbox">
            <h2><a href="mailto:tom@yesand.nyc">Get in touch</a></h2>
        </div>

    </div>


    </div>
    {% include footer.html %}

</div>

{% include googleanalytics.html %}
