<!--From head include-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Erin Przekop - Creative Spirit</title>
    <meta name="description" content="Not all those who wander are lost">
  <meta name="viewport" content="width=device-width">
  <link rel="icon"  href="/images/logosmall.png">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic' rel='stylesheet' type='text/css'>


<!-- ‡ !-->



<script src="https://cdn.tailwindcss.com?plugins=typography"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          brand: '#337572',
        },
        fontFamily: {
          sans: ['"Open Sans"', 'sans-serif'],
          heading: ['"Josefin Sans"', 'sans-serif'],
        }
      }
    }
  }
</script>

<meta name="viewport" content="width=device-width">

<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
</head>
<body>
