<header class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-28">
      <div class="flex-shrink-0">
        <a href="/">
          <img class="h-20 w-auto" src="/images/logo.png" alt="Erin Przekop Logo" />
        </a>
      </div>
      <nav class="hidden md:flex space-x-10 font-heading text-sm tracking-widest font-bold text-gray-400">
        <a href="/" class="hover:text-brand transition-colors duration-200 uppercase">Portfolio</a>
        <a href="/book" class="hover:text-brand transition-colors duration-200 uppercase">Book</a>
        <a href="/about" class="hover:text-brand transition-colors duration-200 uppercase">About</a>
      </nav>
      <div class="md:hidden">
        <a href="/book" class="font-heading text-sm tracking-widest font-bold text-gray-400 uppercase hover:text-brand mr-4">Book</a>
        <a href="/about" class="font-heading text-sm tracking-widest font-bold text-gray-400 uppercase hover:text-brand">About</a>
      </div>
    </div>
  </div>
</header>