{% include head.html %}


    {% include pageheader.html %}

<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>

{{page.content}}


<div class="imagegallery">


{% for image in site.static_files %}
    {% if image.path contains 'images/art' %}
        <a href="{{image.path}}" class="gallery" data-featherlight="image" alt="{{alt}}"><img src="{{image.path}}"/></a>
    {% endif %}
{% endfor %}

</div>

<script>
	
    $( ".gallery" ).each(function( index ) {
        {% capture number %}index{% endcapture %}
        $(this).attr('alt',"{{page.caption[number]}}");
    });
    
    $('a.gallery').featherlightGallery({
		openSpeed: 300,
        afterContent: function() {
        this.$legend = this.$legend || $('<div class="legend"/>').insertAfter(this.$content);
        //this.$legend.text(this.$currentTarget.attr('alt'));
        this.$legend.text("{{page.caption[0]}}");
    }    
	});

    

    </script>

    {% include footer.html %}



{% include googleanalytics.html %}
