{% include head.html %}


    {% include pageheader.html %}

<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>

{{page.content}}


<div class="imagegallery">


{% for image in site.static_files %}
    {% if image.path contains 'images/art' %}
        <a href="{{image.path}}" class="gallery" data-featherlight="image"><img src="{{image.path}}"/></a>
    {% endif %}
{% endfor %}
<a href="#" data-featherlight="<p>Fancy DOM Lightbox!</p>">Open some DOM in lightbox</a>

</div>

<script>
	$('a.gallery').featherlightGallery({
		openSpeed: 300
	});
    </script>

    {% include footer.html %}



{% include googleanalytics.html %}
