{% include head.html %}


    {% include pageheader.html %}

<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>

{{page.content}}

<div class="imagegallery">

<div id="instafeed"></div>


</div>



<script type="text/javascript">
    var feed = new Instafeed({
		get: 'user',
		userId: 20499180,
		// 1213204452 - fc
		//accessToken: '732872.66d7f05.a030f995ff624ee9b52ceefd681b942a',
		accessToken: '1213204452.66d7f05.4d84a870096443409afbe0e166c4b539',
		resolution: 'standard_resolution',

});
 feed.run();
</script>

    {% include footer.html %}



{% include googleanalytics.html %}
